:root {
    --bg-page: #FFFFFF;
    --bg-surface: #fafafa;
    --bg-surface-raised: #f5f5f5;

    --primary: #20558A;
    --border: #e5e5e5;

    --text: #212121;
    --detail: #7F8C8D;
    --input: #fafafa;

    --bg-code-header: #4a4842;
    --bg-code: #300a24;
    --text-code: #fafafa;

    --success: #2ecc71;
    --warning: #f1c40f;
    --danger: #e74c3c;

    /* --input: oklch(0.922 0 0); */

    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
}

[data-theme="dark"] {
    --bg-page: #222222;
    --text: oklch(0.985 0 0);
    --bg-surface: oklch(0.269 0 0);

    --primary: oklch(0.922 0 0);
    /* --primary: #6FA3E0; */
    --bg-surface-raised: oklch(35.618% 0.00004 271.152);
    --danger: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    /* --border: #DCE4DA; */
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    background-color: var(--bg-page);
    color: var(--text);
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}