path.rp-branch {
  transition: all 0.2s;
  fill: none;
  shape-rendering: crispEdges;
}

text.rp-label {
  font-family: Courier;
  font-size: 14px;
  transition: all 0.2s;
  fill: var(--foreground);
}

.rp-branch-tracer {
  stroke: var(--border);
  stroke-dasharray: 3, 4;
  stroke-width: 1px;
}

path.rp-branch:hover {
  stroke-width: 10px;
}

.phylotree-application {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Center align items horizontally */
  margin-top: 15px;
}

.size-control-and-export {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px
}

.width-control {
  margin-bottom: 6px;
}

.export-container {
  display: flex;
  margin: 10px;
  /* Adjust spacing as needed */
}

.export-container button {
  border-radius: 3px;
  padding: 1px 10px;
  border: 1px solid var(--muted-foreground);
  background-color: var(--secondary);
  cursor: pointer;
  margin-left: 15px;
  color: var(--foreground);
}

.export-container button:hover {
  border: 1px solid var(--foreground);
  background-color: var(--muted);
}

.button-group-container {
  margin: 10px;
}

.search-container input {
  border-radius: 5px;
  margin-left: 40px;
  background-color: var(--input);
  color: var(--foreground);
  border: 1px solid var(--border);
}

.search-container button {
  border-radius: 5px;
  margin-left: 10px;
  background-color: var(--secondary);
  color: var(--foreground);
  border: 1px solid var(--border);
}

.search-results-count {
  margin-left: 10px;
  color: var(--muted-foreground);
}

.search-container button:hover {
  background-color: var(--muted);
}

circle {
  fill: var(--background);
  cursor: pointer;
  stroke: var(--muted-foreground);
  stroke-width: 1.2;
  z-index: 10;
  transition: 0.2s;
}

circle.hovered {
  fill: var(--muted-foreground);
}