.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--card);
  padding: 0.4% 4% 0.4% 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 31.5px;
  border-bottom: 1px solid var(--border);
}

.navbar-logo {
  height: 50px;
  width: 50px;
  margin: 5px 25px 5px 0px;
  cursor: pointer;
}

/* .navbar-brand{
  color: var(--foreground);
  font-size: 22px;
  font-weight: 500;
  margin-right: 25px;
} */

.navbar a {
  font-size: 18px;
  color: var(--muted-foreground);
}

.file-upload {
  margin-left: 25px;
}

.file-upload label {
  margin: 0px 5px;
}

.custom-upload-label {
  display: block;
  width: 100%;
  cursor: pointer;
  color: var(--muted-foreground);
}

.custom-upload-label:hover {
  color: var(--foreground);
}

.file-name {
  color: var(--primary);
}