.title-bar {
    display: flex;
    align-items: center;
    height: 31.5px;
    background-color: var(--surface);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-app-region: drag;
}

/* .title-bar-left {
    border: 0.1px solid red;
    display: flex;
    width: 100%
} */